h4{margin-bottom:12px}.search-form{width:600px;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}input,select{margin-top:10px}.spinner-border{position:absolute;left:calc(50% - 22px);top:calc(50% - 22px)}.movie-card-button{margin-right:2px}.results-form{width:600px;margin:20px auto}.card{margin:5px 0}.analytics-form{width:800px;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}.analytics-chart{margin-top:20px}button{margin-top:10px}
/*# sourceMappingURL=main.688c9992.chunk.css.map */